*
  box-sizing border-box

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Myriad Pro", sans-serif;
    }

.header{
    width: 940px;
    height: 78px;
    margin: 0 auto;
    padding: 0;

}
div, p, a, img, form, button{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
    ul, li {
    display: block;
    padding: 0;
    margin: 0;   
}
nav{
    display: flex;
    padding: 0;
    margin-top: 17px;
}
.menu li a{
    color:#b9b9b9;
}
.menu{
    display: flex;
    font-size: 18px;
    margin-left: auto;
    padding: 0;
    align-items: center;
}
.menu li {
    margin-left: 28px;
    font-size: 24px;
    padding: 0;   
    margin-top: 5px;
}
.menu li a:hover{
    color:#e8663c;
    font-weight:bold;
}
.section{
    margin: 0;
    padding: 0;
    height: 401px;
}

.home{
    background: url('../img/home.png');
    width: 960px;
    height: 406px;
    margin: 0 auto;
    border-left: 10px solid white;  
    border-right: 10px solid white;
    position: relative;
   
    }
.row{
    background:#f3af9d;
    height: 64px;
    margin: 0;
    padding: 0;

}
button{
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: block;
   
}
.next{
    position: absolute;
    bottom: 190px;
    right: 20px;
   
}
.back{
    position: absolute;
    bottom: 190px;
    left: 20px;
}
.container_text{
    background: url('../img/container_text.png');
    width: 413px;
    height: 124px;
    position: absolute;
    bottom: 33px;
    left: 36px;
    color: white;
    padding-left: 14px;
    font-size: 14px;
    line-height:1;
    text-align: left;
}
.container_text p{
padding-left: 9px;
}
.galerey{
    width: 940px;
    height: 120px;
    margin: 0 auto;
    padding: 0;

}
.news{
    display: flex;
}
.news li img{
    width: 140px;
    height: 120px;
    margin-right: 20px;
    
}
.features{
    width: 940px;
    height: 253px;
    margin: 0 auto;
    margin-top: 20px;
}

.list{
    display: flex;
    justify-content: space-between;
}
.list .list-item{
    position: relative;
    margin-right: 20px;
    display: block;
}
.list .list-item:last-child{
    margin-right: 0px;
}
.list .list-img1{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/icon.png)no-repeat;
    display:block;
    width: 49px;
    height: 49px;
}
.list .list-img2{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/icon2.png)no-repeat;
    display:block;
    width: 49px;
    height: 49px;
}
.list .list-img3{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/icon3.png)no-repeat;
    display:block;
    width: 49px;
    height: 49px;
}
.list-item .list-title{
    padding-left: 70px;
    margin: 0px 0px;
    color: #e8663c;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 35px;
}
.list-item .list-text{
    font-size: 12px;
    margin: 0px 0px;
    margin-bottom: 40px;
}
.list-item .botton-features{
    display: inline-block;
    padding: 5px 10px;
    background:#e8663c;
    color: white;
    text-transform: uppercase;
}

.data{
    width: 940px;
    height: 288px;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
    position: relative;  
}
.img-data{
    position: absolute;
    right: 0px;
    top: 0px;
    background: url(../img/Line.png);
    width: 807px;
    height: 19px;
    margin: 0;
    padding: 0;
}
.data h1{
    font-size: 18px;
    text-transform: uppercase;
    color:#ee947c;
}
.list-work{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.list-work .work{
    position: relative;
    margin-right: 20px;
    display: block;
    border: 1px solid #b9b9b9;
    border-top: 0px;
    margin: 0;
    padding: 0;

}
.list-work .work:last-child{
    margin-right: 0px;
}
.list-work .work .work-img1{
 background: url(../img/data1.png) no-repeat center center;
 width: 230px;
 height: 190px;
 display: block; 
}
.list-work .work .work-img2{
    background: url(../img/data2.png) no-repeat center center;
    width: 230px;
    height: 190px;
    display: block; 
   }
.list-work .work .work-img3{
    background: url(../img/data3.png) no-repeat center center;
    width: 230px;
    height: 190px;
    display: block; 
   }
.list-work .work .work-img4{
    background: url(../img/data4.png) no-repeat center center;
    width: 220px;
    height: 190px;
    display: block; 
   }
.work-list .list-work .work .work-name{
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #b9b9b9;
    margin-top: 15px;
}
.work-list .list-work .work .work-data{
    font-size: 11px;
    text-transform: uppercase;
    color: #e8663c;
}
.footer_row{
    background:#f3b29d;
    height: 263px;
    margin: 0;
    padding: 0;
}
.footer{
    height:263px;
    width: 960px;
    border-left: 10px solid white;
    border-right: 10px solid white;
    background: #e8663c;
    margin: auto;
    color: white;
    font-size: 12px;
}
.footer_about, .footer_twitter{
    width: 300px;
    height: 221px;
    
    float: left;
    margin-right: 20px;
    margin-top: 40px;
    padding-left: 20px;
    
}
.footer_contact{
    width: 300px;
    height: 221px;
    
    float: right;
    margin-top: 40px;
}
h3{
   font-size:20px ; 
}
.text_mail{
    color: #b9b9b9;
}
.social-container{
    display:flex;
}
.social .social-container .social-list .social-img1{
    width: 30px;
    height: 30px;
    display: block;
    background: url(../img/facebook.png);
    margin-right: 5px;
}
.social .social-container .social-list .social-img2{
    width: 30px;
    height: 30px;
    display: block;
    background: url(../img/twitter.png);
    margin-right: 5px;
}
.social .social-container .social-list .social-img3{
    width: 30px;
    height: 30px;
    display: block;
    background: url(../img/email.png);
    margin-right: 5px;
}
.social .social-container .social-list .social-img4{
    width: 30px;
    height: 30px;
    display: block;
    background: url(../img/rss.png);
    margin-right: 5px;
}
.social .social-container .social-list .social-img5{
    width: 30px;
    height: 30px;
    display: block;
    background: url(../img/vimeo.png);
    margin-right: 5px;
}
